:root {
  /* lighter version of #0d3b66 */
  --neon-soft: #4f8fc2;
}

/* ================= NEON BALL ================= */
.neon-ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;

  background: radial-gradient(circle,
      #71a6d3 0%,   /* lighter */
    #4f8fc2 70%,  /* lighter than before */
    #2f6fa3 100%  );

  box-shadow:
    0 0 20px rgba(47, 111, 163, 0.9),
    0 0 40px rgba(47, 111, 163, 0.7),
    0 0 70px rgba(47, 111, 163, 0.5);


  pointer-events: none;
  z-index: 9999;
}

/* ================= DARK MODE BUTTON ================= */
.dark-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;

  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;

  /* start same as ball */
  background: var(--neon-soft);
  color: #000;

  transition:
    background 0.6s ease,
    color 0.6s ease,
    box-shadow 0.6s ease;

  box-shadow:
    0 0 14px var(--neon-soft),
    0 0 28px rgba(47, 111, 163, 0.45);

  z-index: 10000;
}

/* after 2s – light mode */
.dark-btn.light-ready {
  background: rgb(244, 244, 244);
  color: #000;
  box-shadow: none;
}

/* after 2s – dark mode */
.dark-btn.dark-ready {
  background: #333333;
  color: #ffffffcc;
  box-shadow: none;
}